In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import pandas as pd
import time
import pymongo

C:\Users\Davinder Kaur Dole\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
#pointing to the directory where chromedriver exists
executable_path = {"executable_path":"C:\selenium\chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

# NASA Mars News

In [4]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)
#using bs to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [5]:
news_title=soup.body.find('div',class_="content_title").text
print(news_title)
news_p=soup.body.find('div',class_="article_teaser_body").text
print(news_p)

NASA to Share Results of Effort to Recover Mars Rover
NASA will discuss the status of its Mars Exploration Rover Opportunity in a media briefing at 11 a.m. PST (2 p.m. EST) Wednesday, Feb. 13, from the Jet Propulsion Laboratory.

# JPL Mars Space Images - Featured Image

In [6]:
url = "https://www.jpl.nasa.gov/spaceimages/"
base_url="https://www.jpl.nasa.gov/"
browser.visit(url)
#using bs to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [7]:
img_url=soup.find('li',class_='slide').a['data-fancybox-href']
print(img_url)

/spaceimages/images/largesize/PIA23060_hires.jpg

In [8]:
featured_image_url=base_url+img_url
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA23060_hires.jpg

# Mars Weather

In [24]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)
#using bs to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [25]:
mars_weather=soup.find('li', id='stream-item-tweet-1092605878094696448').p.text
print(mars_weather)

Sol 2308 (2019-02-02), high -13C/8F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:54pic.twitter.com/slAaFVIn0T

# Mars Facts

In [4]:
url="https://space-facts.com/mars/"
table=pd.read_html(url)
type(table)

list

In [5]:
df=table[0]

In [6]:
df.columns=['Description','Value']

In [7]:
df.set_index('Description', inplace=False)

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 째C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [8]:
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

# Mars Hemispheres

In [65]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
base_url="https://astrogeology.usgs.gov/"
browser.visit(url)
#using bs to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [77]:
soup.find('div',class_='description').a

In [87]:
hemisphere_image_urls=[]
results=soup.find_all('div',class_='description')
for result in results:
    title = result.a.text
    link=result.a['href']
    post = {
                'title': title,
                'img_url': base_url+link
            }
    hemisphere_image_urls.append(post)   
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//search/map/Mars/Viking/cerberus_enhanced'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//search/map/Mars/Viking/schiaparelli_enhanced'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//search/map/Mars/Viking/syrtis_major_enhanced'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//search/map/Mars/Viking/valles_marineris_enhanced'}]